<div class="layout animate__animated animate__fadeIn">
    <img src="../assets/auth/l_g.png" alt="l_main" class="lg">
  </div>
  <div class="layout animate__animated animate__fadeIn">
    <img src="../assets/auth/pd_.png" class="pd" alt="l_main" >
  </div>
  <div class="layout animate__animated animate__fadeIn">
    <img src="../assets/auth/l_d.png" class="ld" alt="l_main">
  </div>
  <!---logo-->
  <div class="ico animate__animated animate__bounceIn">
    <img src="../assets/auth/logo.png" alt="logo" class="logo">
  </div>
  <div class="container mt-4 animate__animated animate__fadeIn">
    <h1 class="display-3 text-center t1">Wygląda na to że używasz urządzenia mobilnego</h1>
    <div class="container text-center mt-5">
      <a class="btn btn-secondary btn-lg btn-block cbtn" href="https://www.dropbox.com/s/opy7ybl8xe3r6yj/untitled.blend?dl=1" target="_blank">Pobierz aplikację mobilną</a>
    </div>
  </div>
