<div class="layout animate__animated animate__fadeIn">
    <img src="../assets/auth/l_g.png" alt="l_main" class="lg">
  </div>
  <div class="layout animate__animated animate__fadeIn">
    <img src="../assets/auth/pd_.png" class="pd" alt="l_main" >
  </div>
  <div class="layout animate__animated animate__fadeIn">
    <img src="../assets/auth/l_d.png" class="ld" alt="l_main">
  </div>
  <!---logo-->
  <div class="ico animate__animated animate__bounceIn"> 
    <img src="../assets/auth/logo.png" alt="logo" class="logo">
  </div>
  <div class="auth">
    <div class="form-group animate__animated animate__fadeIn">
      <input type="email" class="form-control" placeholder="Login">
    </div>
    <div class="form-group animate__animated animate__fadeIn">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Hasło">
    </div>
    <input [routerLink]="['userMain']" type="image" class="zaloguj_btn animate__animated animate__bounceIn" src="../assets/auth/btn's.png" alt="login">
    <input type="image" class="rejestracja animate__animated animate__bounceIn" src="../assets/auth/register.png" alt="register">
    <input type="image" class="forgot animate__animated animate__bounceIn" src="../assets/auth/forget.png" alt="forgot">
  </div>