<div *ngIf="overlay" class="overlay">
    <img class="center" src="../../assets/auth/load.gif">
  </div>
  <div class="site bc">
      <div class="sticky-top navbar navbar-dark bg-custom shadow-sm">
          <div class="justify-content-between">
            <div class="navbar-brand d-flex align-items-center">
              <img (click)="back()" draggable="false" src="../../assets/auth/back.png" height="40" class="mr-2" focusable="false">
              <h1 class="t1 text-dark display-3">Notatki</h1>
              <button (click)="logOut()" class="btnw btn btn-outline-danger">Wyloguj</button>
            </div>
          </div>
        </div>
      <!------UI-->
      <div class="ml-4 pt-4 mr-4 text-center">
          <div class="notes">
              <h1 class="animate__animated animate__fadeIn">Wszystkie notatki:</h1>
              <div class=" ctn note animate__animated animate__fadeIn">
                  <div class="row">
                      <div *ngFor="let item of $response" class="col-4">
                          <div class="jumbotron animate__animated animate__fadeIn">
                              <h1 class="display-4 mt-2 pt-0">Notatka</h1>
                              <div class="jumbotron mb-2 ml-2 mr-2 jbwhite">
                                <h2 class="noteText pl-3 pr-3">{{item.message}}</h2>
                              </div>
                              <h3>Godzina: {{item.creationDate.hour}}:{{item.creationDate.minute}}</h3>
                              <h3 class="">Data: {{item.creationDate.day}}-{{item.creationDate.month}}-{{item.creationDate.year}}</h3>
                              <a (click)="noteEdit(item.id, item.message)" class="mt-1 editbtn btn btn-warning"><b>Edytuj notatkę</b></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
