    <!---logo-->
    <div class="ico animate__animated animate__bounceIn"> 
        <h1 class="witaj">Witaj, {{usrName}}!</h1>
        <!---img src="../assets/auth/logo.png" alt="logo" class="logo"-->
    </div>
    <div class="cont">
        <div class="yournotes">
            <div class="yournotestext">
                <h1>Twoje notatki</h1>
                <p>Tutaj znajdziesz podgląd swoich osobistych notatek</p>
            </div>
            <div class="noteico">
                <mat-icon>event_note</mat-icon>
            </div>
        </div>
    </div>