<div class="navbar navbar-dark bg-custom shadow-sm">
    <div class="justify-content-between">
      <div class="navbar-brand d-flex align-items-center">
        <img src="../../assets/auth/logo.png" width="40" height="40" class="mr-2" focusable="false">
        <h1 class="t1 text-dark">Witaj, {{usrName}}</h1>
        <button class="btnw btn btn-outline-danger">Wyloguj</button>
      </div>
    </div>
  </div>
<!------UI-->
<div class="ml-4 pt-4 mr-4 text-center">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
</div>