.bc
{
    background-image: url("../../assets/theme/waveform.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: sticky;
    height: 100%;
    width: 100%;
}
.bg-custom
{
    background: white;
}
.btnw
{
    right: 1vw;
    position: absolute;
}
.t1
{
    margin: 0;
    font-weight: 400;
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.notes
{
    height: 80%;
}
.notes h1
{
    font-weight: 400;
    font-size: 400%;
    padding-top: 2vw;
    padding-bottom: 2vh;
}
.typo
{
    font-weight: 400;
    font-size: 3vw;
    padding-top: 1vw;
    padding-bottom: 0.3vw;
}
.notes h2
{
    font-weight: 400;
    font-size: 2vw;
    padding-bottom: 0.8vw;
}
.notes p
{
    font-size: 1vw;

}
.mat-icon {
    vertical-align: middle;
 }
 .content
 {
     margin-top: 2vw;
 }
 .jumbotron
 {
    border-radius: 30px 30px 30px 30px;
    padding: 1vw 0.5vw 1vw 0.5vw;
    background: rgba(233,236, 239, 0.4);
 }
 .calendar
 {
   width: 100% !important;
 }
 .jumbotron a:hover
 {
     transform: scale(1.1);
 }
 .container :hover
 {
     background: rgba(233,236, 239, 1)
 }

.crim
{
    background-color:#ce2a4b !important;
    color: white;
}
.ft
{
    line-height: normal;
}
