.bg-custom
{
    background: white;
}
.btnw
{
    right: 1vw;
    position: absolute;
}
.t1
{
    margin: 0;
    font-weight: 400;
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}