<div *ngIf="overlay" class="overlay">
  <img class="center" src="../../assets/auth/load.gif">
</div>
<div class="site bc">
    <div class="sticky-top navbar navbar-dark bg-custom shadow-sm">
        <div class="justify-content-between">
          <div class="navbar-brand d-flex align-items-center">
            <img [routerLink]="['../userMain']" draggable="false" src="../../assets/auth/logo.png" width="40" height="40" class="mr-2" focusable="false">
            <h1 class="t1 text-dark display-3">Rodzina</h1>
            <button (click)="logOut()" class="btnw btn btn-outline-danger">Wyloguj</button>
          </div>
        </div>
      </div>
    <!------UI-->
    <div class="ml-4 pt-4 mr-4 text-center">
        <div class="notes">
          <div class="content">
            <div class="container animate__animated animate__fadeIn">
              <div id="j1" class="jumbotron j1 jcreate mt-2 mb-3">
                <h2 class="ft">Stwórz rodzinę</h2>
                <p class="lead mt-2 mb-4">Ta sekcja pozwala na tworzenie nowej notatki</p>
                <div class="form-group pr-5 pl-5">
                  <input type="text" class="form-control codoutput" placeholder="Twój wygenerowany kod" readonly>
                </div>
                <a class="btn btn-lg crim pl-5 pr-5 pt-2 pb-2 mt-1" role="button">Stwórz rodzinę</a>
              </div>
            </div>
            <div class="container animate__animated animate__fadeIn">
              <div class="jumbotron j2 mt-2 mb-3">
                <h2 class="ft">Dołącz do rodziny</h2>
                <p class="lead mt-1 mb-4">Ta sekcja pozwala na dołączenie do rodziny</p>
                <div class="form-group pr-5 pl-5">
                  <input type="text" class="form-control codeinput" placeholder="Kod zaproszenia">
                </div>
                <a class="btn btn-lg crim pl-5 pr-5 pt-2 pb-2 mt-1" role="button">Dołączenie do rodziny</a>
              </div>
            </div>
            <div class="container animate__animated animate__fadeIn">
              <div id="j1" class="jumbotron j1 jcreate mt-2 mb-3">
                <h2 class="ft">Wyślij zaproszenie</h2>
                <p class="lead mt-2 mb-4">Podaj adres na który ma być wysłane zaproszenie</p>
                <div class="form-group pr-5 pl-5">
                  <input type="email" class="form-control eminput" placeholder="Adres email">
                </div>
                <a class=" mt-1 btn btn-lg crim pl-5 pr-5 pt-2 pb-2" role="button">Wyślij zaproszenie</a>
              </div>
            </div>
        </div>
    </div>
</div>
