<div *ngIf="overlay" class="overlay">
  <img class="center" src="../../assets/auth/load.gif">
</div>
<div class="site bc">
    <div class="sticky-top navbar navbar-dark bg-custom shadow-sm">
        <div class="justify-content-between">
          <div class="navbar-brand d-flex align-items-center">
            <img [routerLink]="['../userMain']" draggable="false" src="../../assets/auth/logo.png" width="40" height="40" class="mr-2" focusable="false">
            <h1 class="t1 text-dark display-3">Rodzina</h1>
            <button (click)="logOut()" class="btnw btn btn-outline-danger">Wyloguj</button>
          </div>
        </div>
      </div>
    <!------UI-->
    <div class="ml-4 pt-4 mr-4 text-center">
        <div class="notes">
        </div>
    </div>
</div>
