<div *ngIf="overlay" class="overlay">
  <img class="center" src="../../assets/auth/load.gif">
</div>
<div class="site bc">
    <div class="sticky-top navbar navbar-dark bg-custom shadow-sm">
        <div class="justify-content-between">
          <div class="navbar-brand d-flex align-items-center">
            <img [routerLink]="['../userMain']" draggable="false" src="../../assets/auth/logo.png" width="40" height="40" class="mr-2" focusable="false">
            <h1 class="t1 text-dark display-3">Kalendarz</h1>
            <button (click)="logOut()" class="btnw btn btn-outline-danger">Wyloguj</button>
          </div>
        </div>
      </div>
    <!------UI-->
    <div class="ml-4 pt-4 mr-4 text-center">
        <div class="notes">
          <div class="alert alert-info">
            Click on a day or time slot on the view.
            <strong *ngIf="clickedDate"
              >You clicked on this time: {{ clickedDate | date:'medium' }}</strong
            >
            <strong *ngIf="clickedColumn != null"
              >You clicked on this column: {{ clickedColumn }}</strong
            >
          </div>

          <div [ngSwitch]="view">
            <mwl-calendar-month-view
              *ngSwitchCase="'month'"
              [viewDate]="viewDate"
              [locale] = 'locale'
              [events]="events"
              (columnHeaderClicked)="clickedColumn = $event.isoDayNumber"
              (dayClicked)="clickedDate = $event.day.date"
            >
            </mwl-calendar-month-view>
            <mwl-calendar-week-view
              *ngSwitchCase="'week'"
              [viewDate]="viewDate"
              [events]="events"
              [locale] = 'locale'
              (dayHeaderClicked)="clickedDate = $event.day.date"
              (hourSegmentClicked)="clickedDate = $event.date"
            >
            </mwl-calendar-week-view>
            <mwl-calendar-day-view
              *ngSwitchCase="'day'"
              [viewDate]="viewDate"
              [locale] = 'locale'
              [events]="events"
              (hourSegmentClicked)="clickedDate = $event.date"
            >
            </mwl-calendar-day-view>
          </div>
        </div>
    </div>
</div>
