<div *ngIf="overlay" class="overlay">
  <img class="center" src="../../assets/auth/load.gif">
</div>
<div class="site bc">
    <div class="sticky-top navbar navbar-dark bg-custom shadow-sm">
        <div class="justify-content-between">
          <div class="navbar-brand d-flex align-items-center">
            <img (click)="back()" draggable="false" src="../../assets/auth/back.png" height="40" class="mr-2" focusable="false">
            <h1 class="t1 text-dark display-3">Kalendarz</h1>
            <button (click)="fresh()" class="btnw btn btn-outline-info" style="position: absolute;right: 6vw;">Odświerz</button>
            <button (click)="logOut()" class="btnw btn btn-outline-danger">Wyloguj</button>
          </div>
        </div>
      </div>
    <!------UI-->
    <div class="ml-4 pt-4 mr-4 text-center">
        <div class="notes">
          <div *ngIf="isPSY"  class="selector">
            <h2 class="ft">Wybór rodziny</h2>
            <p class="lead mt-2 mb-4">Wybierz rodzinę dla której chcesz przeglądać kalendarz</p>
            <div class="form-group pr-5 pl-5">
              <select (change)="addSelectedFamilyToLocal()" id="sel" class="form-control mb-2">
                <option *ngFor="let family of families; let i = index" value={{i}} ><b>{{family.familyName}}</b></option>
              </select>
            </div>
          </div>
          <!--div class="alert alert-info">
            Click on a day or time slot on the view.
            <strong *ngIf="clickedDate"
              >You clicked on this time: {{ clickedDate | date:'medium' }}</strong
            >
            <strong *ngIf="clickedColumn != null"
              >You clicked on this column: {{ clickedColumn }}</strong
            >
          </!--div-->

          <div [ngSwitch]="view">
            <mwl-calendar-month-view
              *ngSwitchCase="'month'"
              [viewDate]="viewDate"
              [locale] = 'locale'
              [events]="events"
              (columnHeaderClicked)="clickedColumn = $event.isoDayNumber"
              (dayClicked)="clickedDate = $event.day.date"
              (eventClicked)="eventClickd($event)"
            >
            </mwl-calendar-month-view>
            <mwl-calendar-week-view
              *ngSwitchCase="'week'"
              [viewDate]="viewDate"
              [events]="events"
              [locale] = 'locale'
              (dayHeaderClicked)="clickedDate = $event.day.date"
              (hourSegmentClicked)="clickedDate = $event.date"
            >
            </mwl-calendar-week-view>
            <mwl-calendar-day-view
              *ngSwitchCase="'day'"
              [viewDate]="viewDate"
              [locale] = 'locale'
              [events]="events"
              (hourSegmentClicked)="clickedDate = $event.date"
            >
            </mwl-calendar-day-view>
            <!-----Po kalendarzu, przyciski------>
            <div class=" ctn note animate__animated animate__fadeIn">
              <div class="row">
                  <div class="col">
                      <div *ngIf="hasAnyFamily" class="jumbotron animate__animated animate__fadeIn">
                          <h2 class="mt-2 pt-0">Dodawanie notatki</h2>
                          <div class="jumbotron mb-2 ml-2 mr-2 jbwhite">
                            <label for="textBox"><b>Treść notatki:</b></label>
                            <textarea id="textBox" style="resize: none;" class="form-control mb-2"  draggable="false" rows="3" placeholder="Wprowadź treść swojej notatki"></textarea>
                            <label for="selNote"><b>Rodzina:</b></label>
                            <select id="selNote" class="form-control mb-2">
                              <option *ngFor="let family of families; let i = index" value={{i}} ><b>{{family.familyName}}</b></option>
                            </select>
                          </div>
                          <a (click)="addNote()" class="mt-1 editbtn btn btn-warning"><b>Dodaj notatkę</b></a>
                      </div>
                  </div>
                  <div class="col">
                    <div *ngIf="hasAnyFamily&&isPSY" class="jumbotron animate__animated animate__fadeIn">
                        <h2 class="mt-2 pt-0">Dodawanie wizyty</h2>
                        <div class="jumbotron mb-2 ml-2 mr-2 jbwhite">
                          <div class="form-group">
                            <label for="InputData1"><b>Data:</b></label>
                            <input type="datetime-local" class="form-control mb-2" id="InputData1">
                            <label for="visitMessage"><b>Wiadomość:</b></label>
                            <input type="text" class="form-control mb-2" id="visitMessage" placeholder="Wprowadź wiadomość do wizyty">
                            <label for="selVisit"><b>Rodzina:</b></label>
                            <select id="selVisit" class="form-control mb-2">
                              <option *ngFor="let family of families; let i = index" value={{i}} ><b>{{family.familyName}}</b></option>
                            </select>
                          </div>
                        </div>
                        <a (click)="addVisit()" class="mt-1 editbtnred btn btn-warning"><b>Dodaj wizytę</b></a>
                    </div>
                </div>
              </div>
          </div>
          </div>
        </div>
    </div>
</div>
