<div class="layout animate__animated animate__fadeIn">
    <img src="../assets/auth/l_g.png" alt="l_main" class="lg">
  </div>
  <div class="layout animate__animated animate__fadeIn">
    <img src="../assets/auth/pd_.png" class="pd" alt="l_main" >
  </div>
  <div class="layout animate__animated animate__fadeIn">
    <img src="../assets/auth/l_d.png" class="ld" alt="l_main">
  </div>
  <!---logo-->
  <div class="ico animate__animated animate__bounceIn"> 
    <img [routerLink]="['']" src="../assets/auth/logo.png" alt="logo" class="logo">
  </div>
  <div class="auth">
    <div class="form-group animate__animated animate__fadeIn">
      <input type="email" required id="email" class="form-control" placeholder="Adres email">
    </div>
    <input type="image" class="zaloguj_btn animate__animated animate__bounceIn" src="../assets/auth/zarejestruj.png" alt="login">
  </div>